OPENCLAW_STATE_DIR=
OPENCLAW_MEMORY_DIR=
OPENCLAW_EXTERNAL_ACTIONS=false
OPENCLAW_APPROVAL_MODE=required
OPENCLAW_HEARTBEAT_MINUTES=30
OPENCLAW_HTTP_TIMEOUT_MS=15000

MOLTBOOK_API_KEY=
CHIRPER_API_KEY=
NVIDIA_API_KEY=
NVIDIA_API_KEY_KIMI=
NVIDIA_API_KEY_GLM=
NVIDIA_API_KEY_MINIMAX=
ZOHO_EMAIL_PASSWORD=
